@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-cyan: hsl(180, 66%, 49%);
    --primary-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --gray-violet: hsl(257, 7%, 63%);
    --dark-blue: hsl(255, 11%, 22%);
    --dark-violet: hsl(260, 8%, 14%);
    --light-grey: hsl(210, 33%, 95%);
}

html *{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}

body > *{
    padding: 0.9rem;
    font-family: Poppins;
}

p {
    color: var(--gray);
    font-weight: 700;
}

a{
    text-decoration: none;
}

i{
    cursor: pointer;
    font-size: 1.5rem;
}

hr{
    align-self: stretch;
    width: 100%;
    top: 2.9rem;
    left: 0;
    position: absolute;
    border: 0;
    background-color: var(--gray);
    height: 1px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.363);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1rem;
    /*position: fixed;
    top: 0;
    z-index: 1;*/
}

nav i{
    color: var(--gray)
}

.menu{
    list-style-type: none;
    display: flex;
}

.mobile-menu{
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    background: var(--primary-violet);
    border-radius: 15px;
    padding: 2rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    font-weight: 700;
    font-size: 1.1rem;
}

.mobile-menu a{
    color: white;
}

.mobile-menu.visible{
    opacity: 1;
    visibility: visible;
}

.mobile-menu button{
    align-self: stretch;
}

.desktop-menu{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: none;
    padding: 0 2rem;
    gap: 1rem;
}

.desktop-menu a{
    color: var(--gray)
}

.desktop-menu a:hover{
    color: var(--dark-blue)
}

.desktop-menu div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6rem;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main img{
    width: 100%;
    height: auto;
}

h1, h2{
    color: var(--dark-violet);
}

h1{
    font-size: 2.8rem;
    line-height: 3.3rem;
}

main h2{
    font-size: 1.3rem;
    color: var(--gray)
}

button{
    background-color: var(--primary-cyan);
    color: #fff;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

.button--copied{
    background-color: var(--dark-violet);
    transition: background 0.2s;
}

.get-started--btn{
    border-radius: 2rem;
    padding: 0.8rem 2.3rem;
    font-size: 1.2rem;
}

.shortener{
    position: relative;
    top: -5rem;
}

form{
    background-image: url('../images/bg-shorten-mobile.svg');
    background-color: var(--dark-blue);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
}

form input, form input::placeholder{
    font-family: Poppins;
    font-size: 1rem;
}

form input{
    padding: 0.5rem 1.4rem;
    border-radius: 0.3rem;
    border: 0;
}

form button{
    padding: 0.6rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
}

.links--container{
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-start;
    margin: 1rem 0;
    overflow: hidden;
    position: relative;
}

.links--container a{
    color: var(--primary-cyan);
    font-weight: 700;
}

.links--container button{
    align-self: stretch;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}


.statistics{
    background-color: var(--light-grey);
    width: 100%;
}

.statistics h2{
    font-size: 1.7rem;
    color: var(--dark-violet);
    margin-bottom: 0.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    gap: 4rem;
    position: relative;
    margin: 5rem auto 0 auto;
}

.info--line{
    position: absolute;
    width: 0.5rem;
    height: 30rem;
    background: var(--primary-cyan);
    top: 13rem;
    left: 50%;
    transform: translate(-50%);
}

.info__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 3rem 1.5rem;
    gap: 1rem;
    position: relative;
}

.info__card:last-of-type{
    margin-bottom: 2rem;
}

.info__card div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    top: -2rem;
}

.info__card h3{
    font-size: 1.4rem;
    margin-top: 1rem;
}

.boost{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-image: url('../images/bg-boost-mobile.svg');
    background-color: var(--primary-violet);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center right;
    padding: 5rem 0;
    width: 100%;
    color: white;
}

.boost h3{
    font-size: 1.6rem;
    color: #fff;
}

footer{
    background-color: var(--dark-violet);
    width: 100%;
    color: #fff;
    padding: 2rem 0;
}

footer a:hover, footer i:hover{
    color: var(--primary-cyan)
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.links__area{
    display: flex;
    flex-direction: column;
}

.links__area a{
    color: #fff;
}

.social{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.social i{
    font-size: 1.8rem;
}


